---
title: Open source - Diacode
description: Diacode's portfolio of open source projects.
body_class: open-source
---

%header#main_header
  .container
    .welcome
      %h1 Sharing our tools

%section.main-section
  .container
    %header
      %h2 Open source projects
      %p
        Most of the software and libraries we use to help our clients are open source. We love giving back to our community by sharing those libraries and tools we have built ourselves to improve our work and projects, as well as contributing to the open source projects we use in a daily basis. From small UI components to full apps that are core to our company structure: sharing is caring.


    %ul.projects-list
      - data.projects.repos.each do |project|
        = partial '/open-source/project', locals: {project: project}


