%section#clients_section.main-section
  .container
    %header
      %h2 Clients

    %p Durante nuestra andadura hemos tenido el placer de trabajar codo a codo con las siguientes empresas impulsando sus proyectos.
