%section#clients_section.main-section.constrained
  .container
    %header
      %h2 What people like you think about our work

    #testimonials.testimonials
      - data.testimonials.each do |testimonial|
        .testimonial
          %img{src: "/images/projects/#{testimonial.client.downcase}/logo.png"}

          %blockquote
            %p= testimonial.message

          .spokesman= testimonial.spokesman

      .pagination
        - data.testimonials.length.times do |i|
          / .dot{data: {idx: i}}

    .action
      = link_to 'Check out our work', '/work'
