%footer#main_footer
  .container
    .sections
      %section
        %header
          %h3 Newsletter
        %p Suscríbete a Diacode Picks, nuestra newsletter donde compartimos lo último en cuanto a desarrollo web:

        %form{action: ''}
          .field
            %input{type: "email", placeholder: 'Write here your email'}/
          .action
            %button{type: 'submit'} Subscribe

      %section
        %header
          %h3 Last on our blog

        %ul.post-list
          - blog.articles.first(4).each do |article|
            %li=link_to article.title, article.url
      %section
        %header
          %h3 Social

          %p You can know more about us on the following networks:

          %ul.social-links
            %li
              %a{href: '#'}
                %i.social-github
            %li
              %a{href: '#'}
                %i.social-twitter
            %li
              %a{href: '#'}
                %i.social-facebook

    %p.center
      %small
        © 2011–2015, Diacode Desarrollo Web, S.L.
