%header#main_header
  .container
    .welcome
      .logo
      %h1 
        High quality web & mobile development
      / %h2 We specialize in Ruby on Rails & hybrid mobile

      .call-to-action
        %a{href: "/contact"} Work with us
