%footer#main_footer
  .container
    .sections
      %section
        %header
          %h3 Diacode Picks
        %p 
          Every day in our chat we share the most interesting links we found about programming, design and startups. 
        %p
          We're happy to share them with you through our newsletter:

        %form{action: '//diacode.us2.list-manage.com/subscribe/post?u=84b6b6aa12ade9f1f2b81d51a&amp;id=04aba6c42c', method: 'post', target: '_blank'}
          .field
            %input{type: "email", placeholder: 'Your email address please', name: 'EMAIL', required: true}
          .action
            %button{type: 'submit'} Subscribe!

        %small We will only sent you our Diacode Picks summary. No spam, ever.

      %section
        %header
          %h3 Last on our blog

        %ul.post-list
          - blog.articles.first(5).each do |article|
            %li=link_to article.title, blog_url_for(article.url)
      %section
        %header
          %h3 Social

          %p You can know more about us on the following networks:

          %ul.social-links
            %li
              %a{href: 'https://github.com/diacode'}
                %i.social-github
            %li
              %a{href: 'https://twitter.com/diacode'}
                %i.social-twitter
            %li
              %a{href: 'https://facebook.com/diacode'}
                %i.social-facebook

    %p.center.note
      %small
        Diacode Desarrollo Web, S.L.
        \–
        Doing what we love since 2010 ♥
