%nav#main_nav
  .container
    %a.logo{href: '/'}
    %ul
      %li
        = link_to 'Our work', '/work', class: nav_active('work')
      %li
        = link_to 'Blog', '/blog', class: nav_active('blog')
      %li
        = link_to 'Contact', '/contact', class: nav_active('contact')

