%footer#main_footer
  .container
    .sections
      %section
        %header
          %h3 Newsletter
        %p Suscríbete a Diacode Picks, nuestra newsletter donde compartimos lo último en cuanto a desarrollo web:

        %form{action: '//diacode.us2.list-manage.com/subscribe/post?u=84b6b6aa12ade9f1f2b81d51a&amp;id=04aba6c42c', method: 'post', target: '_blank'}
          .field
            %input{type: "email", placeholder: 'Write here your email', name: 'EMAIL', required: true}
          .action
            %button{type: 'submit'} Subscribe

      %section
        %header
          %h3 Last on our blog

        %ul.post-list
          - blog.articles.first(4).each do |article|
            %li=link_to article.title, blog_url_for(article.url)
      %section
        %header
          %h3 Social

          %p You can know more about us on the following networks:

          %ul.social-links
            %li
              %a{href: 'https://github.com/diacode'}
                %i.social-github
            %li
              %a{href: 'https://twitter.com/diacode'}
                %i.social-twitter
            %li
              %a{href: 'https://facebook.com/diacode'}
                %i.social-facebook

    %p.center
      %small
        © 2011–#{Date.today.year} Diacode Desarrollo Web, S.L.
