%section#services_section.main-section
  .container
    %header
      %h2 What we do

    .services
      .service
        %header
          %h3 Consultancy
        .icon-placeholder
          %span.pe-7s-chat
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
      .service
        %header
          %h3 Full stack
        .icon-placeholder
          %span.pe-7s-server
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
      .service
        %header
          %h3 Team integration
        .icon-placeholder
          %span.pe-7s-users
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
      .service
        %header
          %h3 Own products
        .icon-placeholder
          %span.pe-7s-plugin
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
      .service
        %header
          %h3 Continuous delivery
        .icon-placeholder
          %span.pe-7s-rocket
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
      .service
        %header
          %h3 Development investment
        .icon-placeholder
          %span.pe-7s-cash
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
