%section#services_section.main-section
  .container
    %header
      %h2 We are good at these things

    .services
      .service
        %header
          %h3 Ruby on Rails Consulting
        .icon-placeholder
          %span.pe-7s-chat
        %p
          We have been doing Rails development for 5 years and seen many projects. If you need help with your Rails project, we can team up with you and put your project back on the right track. 
      .service
        %header
          %h3 Full Stack Development
        .icon-placeholder
          %span.pe-7s-server
        %p 
          From Rails to React.js, every member of our team is a full stack developer – we are as confortable coding your back-end as we are creating pixel perfect UIs. We're eager to build your idea.
      .service
        %header
          %h3 Team Integration
        .icon-placeholder
          %span.pe-7s-users
        %p
          Do you have already a development team but need extra help? We like working with other developers. We'll be happy to collaborate with your current team and share all our secrets.
      .service
        %header
          %h3 Building Own Products
        .icon-placeholder
          %span.pe-7s-plugin
        %p
          While we are not helping our clients, we like to spend our time building products
          for our own needs or for any user. When possible, we love to make them #{link_to "open source", "https://github.com/diacode/", target: "_blank"}.
      .service
        %header
          %h3 Continuous Delivery
        .icon-placeholder
          %span.pe-7s-rocket
        %p
          We implement a Continuos Delivery process in all our projects: once a feature has been completed, it gets automatically tested and delivered to your final users. 
      .service
        %header
          %h3 Development Investment
        .icon-placeholder
          %span.pe-7s-cash
        %p
          If you have a great idea for a new product but you're on a strict budget we can invest in you with our own work in return for equity. Contact us to find out more about this.
