%section#services_section.main-section
  .container
    %header
      %h2 What we do

    .services
      .service
        %header
          %h3 Consultancy
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
      .service
        %header
          %h3 Full stack
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
      .service
        %header
          %h3 Team integration
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
      .service
        %header
          %h3 Own products
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
      .service
        %header
          %h3 Continuous delivery
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
      .service
        %header
          %h3 Development investment
        %p The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
