%section#team_section.main-section
  .container
    %header
      %h2 An intentionally small team working remotely
    
    %p
      We designed our company around a single idea:
      a better work-life balance for us means higher quality products for you.
      We decided to be a small company – to do less things but do them better.

    %p
      After a year where we had an office in Madrid we decided to embrace remote work as part of our core culture. Now our team is distributed all around Europe, but we are free to travel
      around the world while keeping crafting products for you.

    %p
      To communicate with you we'll use Slack, Google Hangouts, Pivotal Tracker and other tools
      so that you won't notice the distance (plus it's ok if you want to wear pajamas while
      we are having a meeting).



  .container
    %ul.team-list
      - data.team.team_members.select{|k,v| !v['retired'] }.each do |team_member|
        %li
          %img.avatar{src: gravatar_for(team_member[1]['email_address'])}
          %h4= team_member[1]['full_name']
          %h5= team_member[1]['position']

  = image_tag 'map.png', class: 'map'
