---
title: Elixir & Phoenix Consulting - Diacode
description: Elixir and Phoenix Framework consulting for your next project. A new generation of web apps.
body_class: elixir
---

%header#main_header
  .container
    .welcome
      %h1 
        Elixir & Phoenix 
        %br
        Consulting

%section.main-section.constrained
  .container
    %header
      %h2 Why Elixir & Phoenix?
      .logos
        .logo= image_tag "elixir/elixir-logo.png"
        .logo= image_tag "elixir/phoenix-logo.png"
    %p
      = link_to "Elixir", "http://elixir-lang.org/" , target: "_blank"
      leverages the power of the Erlang Virtual Machine (BEAM) to enable
      building distributed and fault-tolerant applications. Erlang is the technology
      behind <strong>apps that have scaled up to billions of users</strong> such as Whatsapp, Facebook or Pinterest.
    %p
      In a world where CPUs have multiple cores, it's essential to be able
      to run software concurrently, so that we can use the maximum computing power
      while keeping costs low. In contrast to other languages such as Ruby, PHP or Python, <strong>Elixir takes advantage of all the cores in a CPU</strong> by default. As developers, with Elixir we don't need to adopt weird patterns to build concurrent software.

    %p
      Elixir is a <strong>functional dynamic language</strong>, where all data is immutable. This enforces
      the separation of responsibilities within the app, increasing its maintainability. 

    %p
      = link_to "Phoenix Framework", "http://www.phoenixframework.org", target: "_blank"
      is the de facto MVC framework for creating web apps and APIs
      with Elixir. It <strong>embraces many of the principles that made Ruby on Rails world famous</strong>,
      while adding new powerful abstractions to build rich real-time applications. With Phoenix you can easily keep a real-time and bi-directional data channel with every user all the time (WebSockets) – this unlocks a new generation of web apps.

%section.main-section.constrained.alt-bg
  .container
    %header
      %h2 How can we help you?
    %p
      In Diacode we can leverage <strong>the power of the Elixir language for your next project</strong>.
      From full-stack web apps (Phoenix and React.js are a killer combination) to powerful
      back-ends for mobile apps. 
    %p
      If you don't have a development team we'll help you designing the architecture of your Elixir project and implementing an agile development methodology.
    %p
      If you already have a dev team we can team up with them to share our expertise and 
      help you ship your next Elixir or Phoenix app faster.

    %p
      We've been doing web development consultancy for 6 years and we can't wait
      to see what Elixir & Phoenix can do for your next project.

-# %section.main-section.constrained
-#   .container
-#     %header
-#       %h2 What have we built with Elixir?
-#     %p
-#       Despite the fact that Elixir & Phoenix are relatively new technologies, we've been
-#       adopting them since their early beginning. To further develop our skills and share 
-#       our expertise we've crafted some open source apps with these technologies.