---
title: Thank you for contacting us! - Diacode
description: Diacode is a Ruby on Rails shop. Contact us and tell us about your next project.
body_class: contact
---
%header#main_header
  .container
    .welcome
      %h1 Roger that!

%section#contact_section.main-section
  .container
    %h2 Thank you!
    %p
      We've received your message and we'll get back to you within 24 hours.
    %p
      Remember that you can always reach us by email too: <br/>
      %strong hello [at] diacode.com

