// - - - - - - - - - - - - - - - - - - -
// - - base
// project defaults for base elements - h1-h6, p, a, etc.
html
  -webkit-font-smoothing: antialiased
body
  color: $base-font-color
  -webkit-text-size-adjust: 100%

a
  +link

[type=email], [type=text], textarea
  +fill-parent
  border-radius: $base-border-radius
  box-shadow: 0 0 0 0
  padding: .5em
  border: 1px solid $dark-gray

[type=submit]
  +ghost-button($base-font-color, $gray, .8em)


