// - - - - - - - - - - - - - - - - - - -
// - - base
// project defaults for base elements - h1-h6, p, a, etc.
html
  -webkit-font-smoothing: antialiased
body
  color: $base-font-color

a
  +link

[type=email]
  +fill-parent
  border-radius: $base-border-radius
  box-shadow: 0 0 0 0
  padding: .5em
  border: 1px solid $dark-gray

