// - - - - - - - - - - - - - - - - - - -
// - - layout
// global layout classes - height, width, padding, margin, etc.
.container
  +outer-container()
  position: relative

.main-section
  padding: 3em 0
  text-align: center

  .container > header
    margin-bottom: 1em


form
  .field
    margin-bottom: 1em

  .action
    text-align: right

.center
  text-align: center
