// - - - - - - - - - - - - - - - - - - -
// - - settings
// @font-face declarations, variables

// - - - - - - - - - - - - - - - - - - -
// - - @font-face
// add fonts to project as needed by updating the $fonts map below in the following format -
// 'font-family-name': 'font-weight'

// $fonts: (
//   'font-family-one': ('font-one-light', 'font-one-dark'),
//   'font-family-two': ('font-two-light','font-two-medium')
// );

// @each $font-family, $font-weights in $fonts {
//   @each $font-weight in $font-weights {
//     @font-face {
//       name: $font-weight;
//       src:
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.eot?#iefix') format('embedded-opentype'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.woff') format('woff'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.ttf') format('truetype'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.svg##{$font-weight}') format('svg');
//     }
//   }
// }

$header-font-family: 'proxima-nova', sans-serif
$base-font-family: 'freight-text-pro', sans-serif
$nav-font-family: 'proxima-nova', sans-serif
$button-font-family: 'proxima-nova', sans-serif

// - - - - - - - - - - - - - - - - - - -
// - - variables
$base-border-radius: 4px
$base-line-height: 1.6em
$header-height: 3em

// - - colors
$gray: #CFD8DC
$light-blue: red
$dark-blue: blue
$readableGray: #999

// $color-1: #4cdbbe
// $color-2: #0aad95
// $color-3: #089a84
// $color-4: #0f312d
// $color-5: #0a1f1c

$color-1: #edf3f8
$color-2: #08a7b2
$color-3: #078895
// $color-4: #0d1d29
// $color-5: #081219
$color-4: #0A2E36
$color-5: #0A090C
$color-6: #272D2D


// - - typography
$base-font-color: $color-6
// - - grid
