---
title: Our Work - Diacode
description: Diacode's portfolio of web and mobile projects built with Ruby on Rails, love and passion.
body_class: work
---

%header#main_header
  .container
    .welcome
      %h1 
        Customers and products 
        %br
        we are most proud of

- data.work.projects.each do |project|
  = partial '/work/project', locals: {project: project}
