---
title: Customers and products we are more proud of
body_class: work
---

%header#main_header
  .container
    .welcome
      %h1 Customers and products we are more proud of

- data.work.projects.each do |project|
  = partial '/work/project', locals: {project: project}
