---
title: Our thoughts about web development, startups and entrepreneurship
pageable: false
per_page: 10
---

- blog.articles.each do |article|
  %article
    %h2
      = link_to article.title, article
    %span= article.date.strftime('%b %e')
    %span= article.data['dc:creator']
    %ul.tag-list
      - article.tags.each do |tag|
        %li
          = link_to tag, tag_path(tag)

