body.contact
  #main_header
    background-image: url(/images/contact-header.jpg)

  .form-wrapper
    +span-columns(6)
    +shift(3)
    +omega
    margin-bottom: 3em
    .actions
      text-align: right