body.contact
  #main_header
    background-image: url(/images/contact-header.jpg)
    h1
      @include media($mobile)
        font-size: 1.5em

  .main-section
    padding-top: 3em
    @include media($mobile)
      padding-top: 2em

  .contact_note
    +span-columns(10)
    +shift(1)
    margin-bottom: 2em
    padding: 0 1em
    background-color: $color-1
    border: 1px solid $color-4
    border-radius: 4px


  .form-wrapper
    width: 100%
    padding: 0 1em
    @include media($desktop)
      +span-columns(6)
      +shift(3)
      +omega
      
    margin-bottom: 3em
    .actions
      text-align: right
      @include media($mobile)
        text-align: center
