#hire_section
  $base-color: $color-4
  color: #fff
  background-color: $base-color
  padding: 2em 0
  text-align: center

  h2, a
    display: inline-block
    vertical-align: middle

  h2
    width: 100%
    margin-right: 1em
    margin-bottom: 1em
    @include media($tablet)
      font-size: 1.4em
      margin-right: 0
      text-align: center
  a
    +ghost-button($color-2, $color-4)
