#main_footer
  $base-color: $asphalt
  background: $base-color
  color: $gray

  .sections
    +clearfix

  section
    +span-columns(4)
    padding: 3em 0 0
    header

    .post-list
      +unstyled-list
      a
        line-height: $base-line-height

    .social-links
      +inline-list
      li
        &:not(:first-of-type)
          margin-left: 1em
        a
          font-size: 2.5em

  button
    +ghost-button(#fff, $base-color)

