#main_nav
  text-align: right
  z-index: 99
  background: $pink
  .logo
    width: 8em
    height: $header-height
    background: url(/images/logo-white.png) no-repeat center center
    +prefixer(background-size, contain, webkit moz ms)
    float: left
    vertical-align: middle
    display: block
  ul
    margin: 0
    float: right
    li
      display: inline-block

      &:not(:last-of-type)
        margin-right: 3em

      a
        +link(#fff)
        line-height: $header-height
        display: block
        border-bottom: 2px solid $pink

        &:hover
          color: #fff
          border-bottom-color: #fff

  &.sticky
    position: fixed
    z-index: 100
    width: 100%

    &+*
      padding-top: $header-height


body.home
  #main_nav
    .logo
      display: none

    &.sticky
      .logo
        display: block

