#main_header
  background: $pink

  .logo
    width: 320px
    height: 100px
    background: url(/images/logo-white.png) no-repeat center center
    +background-size(contain)
    margin: 0 auto 5em auto

  .welcome
    padding: 10em 0
    text-align: center
    color: #fff

    h1, h2
      font-weight: normal

  .call-to-action
    margin-top: 10em
    a
      +ghost-button

