#main_nav
  text-align: right
  z-index: 99
  background: transparent
  font-family: $nav-font-family
  position: absolute
  width: 100%

  .logo
    width: 7em
    height: $header-height
    background: url(/images/logo-white.png) no-repeat center center
    +prefixer(background-size, contain, webkit moz ms spec)
    float: left
    vertical-align: middle
    display: block
    @include media($mobile)
      width: 5em
      margin-left: .5em
  ul
    margin: 0
    @include media($tablet)
      display: none
    float: right
    text-transform: uppercase
    li
      display: inline-block
      line-height: $header-height
      @include media($mobile)
        font-size: .8em
        text-align: center
        width: 100%
        padding-right: .5em
        border-bottom: 1px solid white

      &:not(:last-of-type)
        @include media($mobile)
          margin-right: .5em
        margin-right: 3em

      a
        +link(#fff)
        border-bottom-width: 1px
        border-bottom-style: solid
        border-bottom-color: transparent
        padding: 0.2em 0

        &:hover, &.active
          color: #fff
          border-bottom-color: #fff

  &.sticky
    position: fixed
    top: 0
    z-index: 100
    width: 100%
    background: rgba($color-3, .9)

    &+*
      padding-top: $header-height
  
  .menu-button-wrapper
    padding-bottom: .5em

  .navigation-menu-button
    display: none
    @include media($tablet)
      text-transform: uppercase
      display: block
      padding-right: 1em
      padding-top: 1em
      +link(#FFF)

body.home
  #main_nav
    .logo
      display: none

    &.sticky
      .logo
        display: block

#overlay-nav
  font-family: $nav-font-family
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  margin: 0
  background: rgba($color-2, 0.8)
  z-index: 99
  .close
    margin-top: 1em
    padding-right: 1em
    float: right
    color: white
    cursor: pointer

  ul
    +unstyled-list
    margin: 0
    margin-top: 3em
    text-transform: uppercase
    li
      font-size: 1.2em
      text-align: center
      width: 100%
      padding-right: .5em

      &:not(:last-of-type)

      a
        +link(#fff)
        border-bottom-width: 1px
        border-bottom-style: solid
        border-bottom-color: transparent
        padding: 0.2em 0
        text-transform: underline

        &:hover, &.active
          color: #fff
          border-bottom-color: #fff


